body{
  background-color: aqua;
}

.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: rgb(255, 255, 0);
  text-shadow: 8px 8px black;
  font-size: 48px;
  font-weight: 700;
}

.info{
  display: flex;
  flex-direction: column;
  width: 87%;
  height: 525px;
  border: 2px black solid;
  border-radius: 8px;
  margin: 15px 0;
  background-color: white;
}

.info-span{
  padding: 15px 0;
  font-weight: 600;
  color: cadetblue;
}

.info-img{
  border-radius: 4px;
}